*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wraper{
    display: flex;
    flex-wrap: wrap;
}

.wraper .img{
    width: 25%;
    padding: 5px;
    margin: auto;
}

.wraper .img:hover{
    opacity: 0.8;
}

img{
    max-width: 100%;
}

@media screen and (max-width: 1024px){
    .wraper .img{
        width: 33.33%;
        
    }
}

@media screen and (max-width: 768px){
    .wraper .img{
        width: 50%;
        
    }
}

@media screen and (max-width: 580px){
    .wraper .img{
        width: 100%;
        
    }
}